[submodule "learning/deepstream_learning/DeepStream-Yolo"]
	path = learning/deepstream_learning/DeepStream-Yolo
	url = https://github.com/marcoslucianops/DeepStream-Yolo
[submodule "learning/deepstream_learning/deepstream_python_apps"]
	path = learning/deepstream_learning/deepstream_python_apps
	url = https://github.com/NVIDIA-AI-IOT/deepstream_python_apps
[submodule "learning/deepstream_learning/DeepStream-Yolo-Pose"]
	path = learning/deepstream_learning/DeepStream-Yolo-Pose
	url = https://github.com/marcoslucianops/DeepStream-Yolo-Pose
[submodule "learning/deepstream_learning/deepstream_reference_apps"]
	path = learning/deepstream_learning/deepstream_reference_apps
	url = https://github.com/NVIDIA-AI-IOT/deepstream_reference_apps
[submodule "learning/tensorrt_learning/TensorRT"]
	path = learning/tensorrt_learning/TensorRT
	url = https://github.com/NVIDIA/TensorRT
[submodule "learning/tensorrt_learning/tensorrtx"]
	path = learning/tensorrt_learning/tensorrtx
	url = https://github.com/wang-xinyu/tensorrtx
